<!DOCTYPE HTML>
    
<html lang="en">
    
  <head> <link rel="stylesheet" href="css/style.css">
  </head>
    
    <body>

    <h1>Check Out This Moive</h1>
    
    <%= yield %>
    
    </body>
</html>
